# How to import dataset in python using pandas library
written by : Dr. Aammar Tufail\
Date: 11.18.2024\
Email: silentprogrammer0001@gmail.com

In [1]:
# step-1
# import libraries
import pandas as pd

In [3]:
# setp-2
#reading/importing dataset
df= pd.read_excel('pandas_01_day6.xlsx')

In [4]:
df.head()

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [5]:
df.tail()

    Height  Weight Favourite Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [6]:
df.head(4)

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao

In [7]:
#the counting of python is always start to 0
df.tail(8)

    Height  Weight Favourite Dish
79     5.3      62        Biryani
80     5.4      55          Pasta
81     5.5      52  Karahi Ghosht
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [8]:
df.shape

(87, 3)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [10]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [12]:
df.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

In [13]:
df.dtypes

Height            float64
Weight              int64
Favourite Dish     object
dtype: object

In [14]:
df.describe()

           Height      Weight
count   87.000000   87.000000
mean     9.927126   70.459770
std     25.755381   16.753899
min      0.000000   25.000000
25%      5.200000   60.000000
50%      5.600000   70.000000
75%      5.850000   80.000000
max    178.000000  125.000000

In [17]:
df.sort_index()

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]